# Ignore the backup folder
*-backups/

# Ignore KiCad backup and autosave files
*.bak
*.kicad_pcb-bak
*.sch-bak
*.kicad_sch-bak
*-save.kicad_pcb
*-save.kicad_sch

# Ignore lock files
*.lck

# Ignore KiCad cache files
*.kicad_prl
*.kicad_wks

# Ignore simulator and layout cache
sym-lib-table
fp-lib-table
fp-lib-cache*
fp-info-cache*
*_cache.lib
*_rescue.lib

# Ignore backup and autosave files for schematic and layout files
*.bak*
.*.bak*
